@using System.Web.Optimization
@model JBOB.Common.ViewModelBase

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>JBOB Template</title>
      
     @Scripts.Render("~/Scripts/jquery")
     @Styles.Render("~/Content/common_css")

      
      <script>

          $().ready(function () {
              if ($.JBOB.page.initialize != undefined) {
                  $.JBOB.page.initialize();
              }
          });

          $(document).ready(function ($) {
              $("html, body").mousewheel(function (e, delta) {
                  $('html, body').stop().animate({ scrollLeft: '-=' + (150 * delta) + 'px' }, 200, 'easeOutQuint');
                  e.preventDefault();
              });
          });
          function scrollhome() {
              $('html, body').stop().animate({ scrollLeft: '0px' }, 1000, 'easeOutQuint');
          }

      </script>  
      
      <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      @Scripts.Render("~/Scripts/html5shiv.js")
      @Scripts.Render("~/Scripts/respond.min.js")
    <![endif]-->
  </head>

  <body>

      <div class="navbar navbar-inverse navbar-fixed-top ">
          @Html.Partial("_menu")
      </div>

      <div class="horizontalContainer">
           @*@RenderSection("PageContent", true)*@
          @RenderBody()
      </div><!-- /.container -->
      
     <div id="pageModal"> @RenderSection("PageModal", false) </div>
      
      <!-- JavaScript -->
      @Scripts.Render("~/Scripts/app_common")
      @RenderSection("PageScripts", true)

  </body>
</html>
